.reactFinalForm {
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    text-align: center;
  }

  .section1 {
    display: grid;
    grid-template-columns: auto 1fr;

    >* {
      margin: .5em
    }
  }

  .section2 {
    display: flex;
    flex-direction: column;
    margin-top: 1em;

    .header {
      background-color: #d7edff;
    }

    >* {
      width: 100%;
      margin: .5em
    }
  }

  .buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    >* {
      margin: 1em
    }
  }
}
